body:has(.loader-active) {
  overflow: hidden;
}

.loader-bg {
  background: radial-gradient(circle, #ffffff 0%, #f9fff9 100%);
}
.floating-img {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(1.05);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
  100% {
    transform: translateY(0px) scale(1.05);
  }
}

.product-card-custom:hover .hover-actions {
  opacity: 1 !important;
}

.product-card-custom img {
  transition: transform 0.4s ease;
}

.product-card-custom:hover img {
  transform: scale(1.1);
}

.btn-green-hover {
  transition: all 0.3s ease;
}

.btn-green-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 178, 7, 0.4) !important;
}

.insta-card:hover .overlay-insta {
  opacity: 1 !important;
}

body {
  scroll-behavior: smooth;
}
